*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.header{
    background-image: url("./src/bg-hero-desktop.svg");
    font-family: 'Poppins', sans-serif;
    background-color: hsl(191, 89%, 96%);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.header__nav button{
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    background-color: white;
    border: none;
    color: #00252E;
    font-weight: bold;
    box-shadow: 1px 1px 3px rgb(128, 127, 127);
    cursor: pointer;
}

/* SECTION DETALLE */
.section__detalle{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 2rem;

}
.container_detalle__description{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 45%;
    
}
.container_detalle__description h1{
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.container_detalle__description button{
    padding: 1rem 3rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.container_detalle__img{
    width: 45%;
    height: 50%;
}

/* MAIN */
.main{
    margin-top: 5rem;
    padding-bottom: 5rem;
}
.main__section{
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 6px hsl(208, 11%, 55%);
    border-radius: 1rem;
    padding: 3rem;
    width: 70%;
}

.section__container__img{
    width: 40%;
}
.section__container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', "normal";

}
.section__container h3{
    padding-bottom: 1rem;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
}
.section__container h4{
    color: rgb(164 167 170);
    font-weight: 400;
}

/* footer */
.footer{
    position: relative;
    margin-top: 10rem;
    background-color: hsl(192, 100%, 9%);
    padding: 8rem 4rem;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    color: white;
}
.footer1{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.footer1 span{
    padding: 1rem 0;
}
.footer1 span img{
    padding-right: 1rem;
}

.footer__logo{
    width: 20%;
    margin: 2rem 0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(314deg) brightness(104%) contrast(101%);
}

.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}
.footer2 a{
    color: white;
}
.footer2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.footer3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.foote3__container__img a{
    margin-right: 0.5rem;
}
.card{
    position: absolute;
    padding: 2rem 1rem;
    text-align: center;
    top:-7rem;
    left: 25%;
    width: 50%;
    color: hsl(192, 100%, 9%);
    box-shadow: 1px 1px 4px gray;
    border-radius: 1rem;
    background-color: white;
}
.card button{
    padding: 1.5rem 4rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}


/* MEDIA QUERY */

@media (max-width:567px) {
    /* HEADER */
    .header{
        background-image: url("./src/bg-hero-mobile.svg");
        background-size: cover;
        background-color: hsl(193, 100%, 96%);
    }
    .header__nav{
        padding: 2rem 1rem;
    }

    .header__nav img{
        width: 30%;
    }

    .header__nav button{
        padding: 0.5rem 2rem;
    }
    .section__detalle{
        display: block;
    }
    .container_detalle__description{
        display: block;
        width: 100%;
        text-align: center;
    }
    .container_detalle__img{
        margin: 4rem auto;
        width: 90%;
        height: 50%;
    }
    /* MAIN */
    .main{
        padding-bottom: 5rem;
    }
    .main__section{
        display: flex;
        flex-direction: column-reverse;
    }
    .main__section--invertir .section__container__img{
        order: 1;
    }
    .section__container{
        text-align: center;
        padding: 1rem;
        width: 100%;
    }
    .section__container__img{
        padding: 1rem;
        width: 90%;
    }
    /* CARD */
    .card{
        left: 15%;
        width: 70%;
        padding: 2rem;
    }
    .card h2{
        font-size: 2rem;
    }

    /* FOOTER */
    .footer__container{
        display: block;
    }
    .footer__logo{
        width: 50%;
    }
    .footer1{
        width: 100%;
    }
    .footer1 span{
        font-size: 1.2rem;
    }
    .footer2{
        display: block;
        width: 100%;
    }
    .footer2 a{
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    .footer3{
        padding-top: 4rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .foote3__container__text{
        margin-top: 2rem;
    }
}
/* MEDIA 380PX */
@media (max-width:380px) {
    .main{
        padding-bottom: 3rem;
    }
    .main__section{
        width: 80%;
        padding: 1rem;
    }

    .section__container__img{
        width: 100%;
    }

    /* CARD */
    .card{
        left: 5%;
        width: 90%;
        padding: 2rem;
    }
    .card h2{
        font-size: 1.5rem;
    }
    .card button{
        padding: 1rem 1.5rem;
        color: white;
        background-color: hsl(322, 100%, 66%);
        border: none;
        border-radius: 2rem;
        margin-top: 1.5rem;
        font-weight: bold;
    }
    .footer{
        margin-top: 10rem;
        padding: 8rem 2rem;
    }
}