*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: hsl(217, 28%, 15%);
}
.container__body{
    background-image: url("./src/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}
.header__nav__ul{
    display: flex;
}
.header__nav__ul li{
    list-style: none;
    padding-left: 2rem;
}

.header__nav__ul li a{
    text-decoration: none;
    color: white;
}

/* SOBRE MI */
.section__sobreMi{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container_sobreMi{
    padding: 4rem;
    border: 1px solid blue;
}
.sobreMi__imagen img{
    margin: 2rem 0;
    border-radius: 50%;
}