.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
/* HEADER */
.body__header__container{
    background: #00AF1C;
    font-size: 1.5rem;
    width: 100%;
    position: fixed;
    z-index: 20;
}
.header__container__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 5rem;
}

.header__nav__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    padding: 2rem;
}
/* MAIN */
.body__main{
    position: relative;
    top: 4rem;
    padding: 2rem;
}

.article__inicio__title{
    color: #3B06D2;
}
.article__inicio__title, .article__servicios__title, .article__portafolio__title, .article__portafolio__title, .article__contacto__title{
    text-transform: uppercase;
}
.article__inicio__description, .article__servicios__description, .article__portafolio__description, .article__portafolio__description, .article__contacto__description{
    margin: 2rem 0;
    line-height: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article__servicios__title{
    color: #D206B2;
}
.article__portafolio__title{
    color: #AAD206;
}
.article__contacto__title{
    color: #06D2C6;
}
.container__img{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: center;
}
.container__img img{
    min-width: 3rem;
    margin-right: 5%;
    margin-bottom: 2rem;
}
article{
    padding-bottom: 2rem;
}
.article__contato_form{
    display: flex;
    flex-direction: column;
}

.article__servicios__ul li:nth-child(1){
    color: red;
}
.article__servicios__ul li:nth-child(2){
    color: blue;
}
.article__servicios__ul li:nth-child(3){
    color:green;
}
.article__servicios__ul li:nth-child(4){
    color: maroon;
}


.article__portafolio__ul li:nth-child(1){
    color: rebeccapurple;
}
.article__portafolio__ul li:nth-child(2){
    color: orange;
}
.article__portafolio__ul li:nth-child(3){
    color: olive;
}
.article__portafolio__ul li:nth-child(4){
    color: blueviolet;
}

.contacto__form__nombre{
    margin-bottom: 1rem;
}
.contacto__form__description{
    margin-bottom: 1rem;
}
.article__contato_form button{
    width: 10vw;
    height: 5vh;
    border: 1px solid #22a900;
    background-color: transparent;
    color: #22a900;
}
.article__contato_form input{
    height: 5vh;
    border: 1px solid black;
}
.article__contato_form textarea{
    height: 20vh;
    border: 1px solid black;  
}


/* FOOTER */
.footer{
    margin-top: 5rem;
    background-color: #22a900;
    padding: 0 2rem;
    color: white;
}
.footer__container__nav{
    display: flex;
    justify-content: space-between;
}