//COLORES
$bgPrincipal: #E5E5E5;
$bgLogo: #316099;
$bgBlack: #000000;
$bgTextWhite: #fff;
$bgBuscador: #F4F4F4;
$bgTextBlue: #1F3F68;
$bgTextBluePequeno: #356EAD;
$bgBtnFooter: #5A98D0;

//PADDING

$padding05: 0.5rem;
$padding1: 1rem;
$padding2: 2rem;
$padding3: 3rem;
$padding4: 4rem;
$padding5: 5rem;

// PORCENTAJES
$porcentaje25: 25%;
$porcentaje30: 30%;
$porcentaje40: 40%;
$porcentaje50: 50%;
$porcentaje60: 60%;
$porcentaje75: 75%;
$porcentaje100: 100%;

//MEDIDAS
$medida960: 960px;